*.html
*.bib
*.bbl
*.dvi
*.run.xml
*.tex.latexmain
*.aux
*.blg
*.log
*.bcf
*.ldb_latexmk
*.fdb_latexmk
*.fls
*.bak
*.gz
header.acn
header.acr
header.alg
header.glg
header.glo
header.gls
header.ist
header.lof
header.lot
header.pdf
header.toc
