*.html
*.bib
*.bbl
*.dvi
*.run.xml
*.tex.latexmain
*.aux
*.blg
*.log
*.bcf
*.ldb_latexmk
*.fdb_latexmk
*.fls
*.tex.bak
*.gz
header.acn
header.acr
header.alg
header.glg
header.glo
header.gls
header.ist
header.lof
header.lot
header.pdf
header.toc
*.out
abstract.acn
abstract.acr
abstract.alg
abstract.glg
abstract.glo
abstract.gls
abstract.ist
abstract.pdf
abstract/
declaration.acn
declaration.acr
declaration.alg
declaration.glg
declaration.glo
declaration.gls
declaration.ist
introduction/figure/genetic_correlation/pleiotropy.pdf
introduction/figure/journal.pcbi.1002822.g001.png
title_page.acn
title_page.acr
title_page.alg
title_page.glg
title_page.glo
title_page.gls
title_page.ist
title_page.pdf
ukb_assoc/figure/cFDR/aggresion.jpeg
ukb_assoc/figure/cFDR/aggresion_neuro.jpeg
ukb_assoc/figure/cFDR/cQQ_aggression_thres1.jpeg
ukb_assoc/figure/cFDR/cQQ_aggression_thres2.jpeg
ukb_assoc/figure/cFDR/cQQ_aggression_thres3.jpeg
ukb_assoc/figure/cFDR/cQQ_risktaking_thres1.jpeg
ukb_assoc/figure/cFDR/cQQ_risktaking_thres2.jpeg
ukb_assoc/figure/cFDR/cQQ_risktaking_thres3.jpeg
ukb_assoc/figure/cFDR/risk.jpeg
ukb_assoc/figure/cFDR/risk_neuro.jpeg
ukb_assoc/figure/genetic_corr/genetic_correlation_behavior_aggression.jpeg
ukb_assoc/figure/genetic_corr/genetic_correlation_behavior_risk.jpeg
ukb_assoc/figure/genetic_corr/genetic_correlation_extended.jpeg
ukb_assoc/figure/genetic_corr/genetic_correlation_psychiatriy_aggression.jpeg
ukb_assoc/figure/genetic_corr/genetic_correlation_psychiatriy_risk.jpeg
ukb_assoc/figure/manhatten_plots/manhatten_plot_1558.jpeg
ukb_assoc/figure/manhatten_plots/manhatten_plot_20016.jpeg
ukb_assoc/figure/manhatten_plots/manhatten_plot_20116.jpeg
ukb_assoc/figure/manhatten_plots/manhatten_plot_20127.jpeg
ukb_assoc/figure/manhatten_plots/manhatten_plot_2040.jpeg
ukb_assoc/figure/manhatten_plots/manhatten_plot_4526.jpeg
ukb_assoc/figure/manhatten_plots/manhatten_plot_4653.jpeg
ukb_assoc/figure/phenotype/corr_plot_circle_full.jpeg
ukb_assoc/figure/phenotype/dendrogram_correlations.jpeg
ukb_assoc/tables/risk_cFDR_results_clumped_nonreplicated.tsv
